body {
    font: 1em sans-serif;
    display: block;
    background-size: cover;
    
}

.container {
    margin: auto;
    padding: 10px;
    text-align: center;
    height: 100vh;
    width: 100%;
}

.background-image {
    position: static;
    background-image: url("DSC06386.JPG");
    background-size: cover;
}

.content {
  position: absolute; 
  bottom: 0;  
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); 
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
}

#result {
    font-size: 2rem;
    font-weight: bold;
}