body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}
.grid-wrap {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 2rem;
    background-color: whitesmoke;
    aspect-ratio: 1;
    justify-content: center;
    
} 

.grid-item.main-feature {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;   
    object-fit: cover;

}

.grid-item > img {
  width: 0;
  height: 0;
  object-fit: cover;
  min-width: 100%;
  min-height: 100%;
}
.grid-item:hover {
    transform: scale(1.1);
}


@media only screen and (m-width: 600px) {
    .grid-item {
        filter: invert(100%);
    }
}

@media only screen and (min-width: 900px) {
  b {
    background-color: rgb(246, 157, 12);
  }
}



