* {
    box-sizing: border-box;
}
body {
    /*add background image*/
    background-image: url(background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

/*Using flexbox to style header navbar*/
.container {
    width: 100%;
    align-items: center;
    display: flex;
    flex-flow: row, nowrap;
    padding-top: 30px;
    padding-left: 5px;
    margin-left: 0;
    margin-right: 0;
}
#logo {
    float: left;
    width: 20%;
}

#nav {
    width: 80%;
}
#nav-item {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

#nav ul li {
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 1.5rem;
}
#nav ul li a {
    text-decoration: none;
    display: inline;
    color: rgb(150, 147, 147);
}

#cart {
    float: right;
    cursor: pointer;
    width: 10%;
}

/*socials left*/
.left{
    height: 100vh;
    justify-content: center;
    width: 20%;
    display: flex;
    flex-direction: column;    
}

.left>li{
    float: left;
    text-align: left;
    float: left;
    display: block;
    align-content: space-between;
    padding: 20px;
}

/*main image*/
main {
    display: flex;
    width: 100%;
}
.collection {
    height: 8%;
    width: 40%;
    contain: content;
    margin-top: 5%;
}

.collection button {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    background: linear-gradient(45deg, #87adfe, #ff77cd);
    border-radius: 10px;
    border: none;
    padding: 1%;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 2px rgba(94,28,68,0.15);
}
h1 {
    font-size: 30px;
    font-weight: 100;
    margin-top: 24px;
    margin-bottom: 15px;
    color: #232d60;
    display: block;
}
.img-gallery {
    overflow: hidden;
    width: 100%;
    height: 80%;
    contain: content;
    float: right;
}
.img-gallery img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: none;
}

.img-gallery img.active {
    display: block;
}

p { font-size: 20px;
color: #6a7199;
    width: 100%;
}

.content {
    margin-left: 10%;
    margin-top: 1%;
    clear: left;
    display: flex;
    flex-direction: row;
    
    height: 100vh;
    width: 100%;
}

.text {
    width: 100%;
    height: 25%;
    margin: 1px;
    padding: 1%;
    font-family: 'Poppins', sans-serif;
    z-index: 1;
}
.arrow, .nextArrow {
    padding: 1%;
    width: 20%;
    height: 40%;
}

.mini-buttons {
    width: 70%;
    height: 20%;
    contain: content;
    justify-content: center;
    align-items: center;
}

.color {
    width: 30%;
    height: 20%;
}
.leftSide {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.rightSide {
    width: 60%;
    height: 100%;
}