body {
    background-color: yellowgreen;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

#gamename {
    font-size: 60px;;
}

.form {
    color: blue;
    border: 1px solid red;
    background-color: lightgrey;
    text-align: center;
    padding: 20px;    
}

input {
    box-sizing: border-box;
}

label {
    font-size: 25px;
}

main {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

i {
    color: orangered;
}

.button {
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: orangered;
    display: block;
}

a:link {
  text-decoration: none}

.textarea {
  width:50%;
  height: 80px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

.now {
    font-size: 40px;
}